<ion-header>
  <ion-toolbar>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
  <ion-list>
  <ion-item>
    <ion-label position="stacked">Nome do Produto</ion-label>
    <ion-input [clearOnEdit]="true" placeholder="Coloque aqui o Nome do Produto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-input [clearOnEdit]="true" placeholder="Coloque aqui a Descrição do Produto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Validade</ion-label>
    <ion-input [clearOnEdit]="true" placeholder="Coloque aqui a Validade do Produto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Preço</ion-label>
    <ion-input [clearOnEdit]="true" placeholder="Coloque aqui o Preço do produto"></ion-input>
  </ion-item>
</ion-list>
</form>
</ion-content>
