<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [clearInput]="true" placeholder="coloque seu Email" type="usuario" ></ion-input>
      </ion-item>
        <ion-item>
          <ion-label position="floating">senha</ion-label>
          <ion-input [clearInput]="true" placeholder="coloque sua senha" type="password"></ion-input>
        </ion-item>

<ion-button type="button1">esqueci minha senha</ion-button>
<ion-button color="" type="button2" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">entrar</ion-button>
<ion-button type="button3" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >registrar</ion-button>
<ion-button type="button4" [routerLink]="['/tabs/tab1']" routerLinkActive="router-link-active" >voltar</ion-button>




    </ion-card-content>
