<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
         <ion-label position="stacked" class="usuario">Usario</ion-label>
      <ion-input [clearInput]="true" placeholder="coloque seu usuario" type="usuario" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" class="senha">senha</ion-label>
          <ion-input [clearInput]="true" placeholder="coloque sua senha" type="password"></ion-input>
        </ion-item>

<ion-button fill="clear" type="button1">esqueci minha senha</ion-button><br>
<ion-button color="" type="button2">entrar</ion-button>
<ion-button fill="clear" type="button3">botão 3</ion-button>
<ion-button fill="clear" type="button4">botão 3</ion-button>


      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
